<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>?БэТИ ыкйыбЭ - ъ▓╜ыПЩ ?╝эХСык?/title>
</head>
<body>
<h2>?БэТИ ыкйыбЭ</h2>

<a href="/admin/product/new">?????БэТИ ?▒ыбЭ</a>
<hr>

<table border="1" cellpadding="6">
    <tr>
        <th>ID</th>
        <th>?БэТИык?/th>
        <th>ъ░Аъ▓?/th>
    </tr>

    <tr th:each="p : ${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price} + '??"></td>
    </tr>
</table>

</body>
</html>
