<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록 - 경동 쇼핑몰</title>
</head>
<body>
<h2>상품 등록</h2>

<form action="/admin/product/new" method="post">
    <label>상품명</label><br>
    <input type="text" name="name" required><br>

    <label>가격</label><br>
    <input type="number" name="price" required><br>

    <label>설명</label><br>
    <textarea name="description"></textarea><br>

    <button type="submit">등록</button>
</form>

</body>
</html>
