<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}">?БэТИ ?БьД╕</title>
</head>
<body>

<h2 th:text="${product.name}"></h2>

<!-- ?┤ы?ьзАъ░А ?ЖьЬ╝ый?ъ╕░ы│╕ ?┤ы?ьзА ыбЬыУЬ?ШыПДыб??ШьаХ -->
<img th:src="@{${product.imageUrl}}"
     onerror="this.src='/images/no_image.png';"
     width="300"><br><br>

<p th:text="'ъ░Аъ▓?: ' + ${product.price} + '??"></p>
<p th:text="${product.description}"></p>

<!-- ???Иы? ъ▓╜ыбЬыб??ШьаХ -->
<a th:href="@{'/cart/add/' + ${product.id}}">?еы░Фъ╡мыЛИ ?┤ъ╕░</a><br>

<!-- ыкйыбЭ?╝ыбЬ ?┤ыПЩ -->
<a href="/">??ыкйыбЭ?╝ыбЬ</a>

</body>
</html>

